* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first h2 {
  font-size: 50px;
  position: absolute;
  top: 5%;
  left: 42%;
  align-content: center;
  color: crimson;
}
.second {
  display: none;
}
.pitch {
  z-index: -1;
  width: 100%;
}
.wickets {
  position: absolute;
  top: 330px;
  left: 40px;
  transform: skewX(50deg);
}
.bat {
  position: absolute;
  bottom: 100px;
  left: 140px;
  width: 200px;
  transform: skew(50deg);
}
.ball {
  position: absolute;
  bottom: 100px;
  right: 80px;
  width: 70px;
}
.ground {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.coin {
  position: absolute;
  top: 45%;
  left: 45%;
  height: 100px;
  width: 100px;
  z-index: 1;
}
